:root {
    /* backgrounds */ 
    --background: 0, 0%, 9%;
    --background-soft: 30, 13%, 22%;
    --background-alt: 180, 6%, 11%;
    --border: 30, 13%, 22%;
    --text: 30, 13%, 60%;
    --text-active: 30, 13%, 0%;

    /* foreground */
    --foreground: 40, 56%, 75%;
    --foreground-soft: 30, 20%, 59%;

    /* accent colors */
    --error: 6, 74%, 45%;
    --success: 67, 69%, 34%;
    --warning: 40, 69%, 48%;
    --blue: 194, 47%, 40%;
    --purple: 318, 39%, 54%;
    --aqua: 161, 30%, 50%;
    --orange: 19, 72%, 44%;
}

/* Will make icons inside active tile black else white */
image.reactive {
    -gtk-icon-filter: brightness(10) saturate(100%) contrast(100%); /* white */
}
.tile:selected image.reactive {
    -gtk-icon-filter: brightness(0) saturate(100%) contrast(100%); /* black */
}

/* TILES */
.tile:selected #title {
    color: hsla(var(--text-active), 0.7);
}

.tile #icon {
    margin: 0px;
    padding: 0px;
}

.tile:selected {
    color: hsl(var(--text-active));
    transition: 0.1s ease;
    background: hsla(var(--foreground), 1);
    background-color: hsla(var(--foreground), 1);
    outline: none;
    border: none;
}

.tile:selected .tag,
.tag {
    font-size: 11px;
    border-radius: 3px;
    padding: 2px 8px;
    color: hsl(var(--tag-color));
    box-shadow: 0px 0px 10px 0px hsla(var(--background), 0.1);
    border: 1px solid hsla(var(--text-active), 0.1);
    margin-left: 7px;
}

.tile:selected .tag-start,
.tag-start {
    background: hsla(var(--tag-background), 0.7);
}

.tile:selected .tag-end,
.tag-end {
    background: hsla(var(--success), 1);
}

.tile:selected #launcher-type {
    color: hsla(var(--text-active), 0.4);
}


/*SHORTCUT*/
#shortcut-holder {
    box-shadow: unset;
}
#shortcut-holder label {
    color: hsla(var(--text-active), 0.5);
}

/*EVENT TILE*/
.tile.event-tile:selected #time-label,
.tile.event-tile:selected #title-label{
    color: hsla(var(--text-active), 0.6);
} 

/* BULK TEXT TILE */
#bulk-text-content-title {
    color: hsla(var(--text-active), 0.9);
}

#bulk-text-content-body {
    color: hsla(var(--text-active), 0.7);
}

